body {
    max-width: 1300px;
    margin: 0 auto;
    background-color: $white;
    @media screen and (min-width: 1301px) {
        border: $my-border;
    }
}

.extra-margin {
    margin-bottom: 20px;
}

// B-LAZY
.b-lazy {
    -webkit-transition: opacity 500ms ease-in-out;
       -moz-transition: opacity 500ms ease-in-out;
         -o-transition: opacity 500ms ease-in-out;
            transition: opacity 500ms ease-in-out;
             max-width: 100%;
               opacity: 0;
}
.b-lazy.b-loaded {
    opacity: 1;
}

// LOADER 
.js .load,
.js #loader-wrapper {
    display: block;
}
#loader-wrapper {
    position: fixed;
    display: none;
    margin: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: $white;
    .spinner {
        position: absolute;
        top: 50%;
        left: 50%;
        margin: 0;
        width: 90px;
        text-align: center;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        .bounce1 {
            -webkit-animation-delay: -0.32s;
            animation-delay: -0.32s;
          }
        .bounce2 {
            -webkit-animation-delay: -0.16s;
            animation-delay: -0.16s;
        }
        > div {
            display: inline-block;
            width: 18px;
            height: 18px;
            background-color: $main-color-dark;
            border-radius: 100%;
            -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
            animation: sk-bouncedelay 1.4s infinite ease-in-out both;
        }  
    }
      @-webkit-keyframes sk-bouncedelay {
        0%, 80%, 100% { -webkit-transform: scale(0) }
        40% { -webkit-transform: scale(1.0) }
      }
      
      @keyframes sk-bouncedelay {
        0%, 80%, 100% { 
          -webkit-transform: scale(0);
          transform: scale(0);
        } 40% { 
          -webkit-transform: scale(1.0);
          transform: scale(1.0);
        }
      }
    }

// HEADER
header {
    position: relative;
    // height: 190px;
    max-width: 1300px;
    background-color: $main-color;
    z-index: 1;
    font-family: 'Oswald', 'PT Sans', 'Roboto' sans-serif;
    @include breakpoint(small only) {
        height: 140px;
    }
    @include breakpoint(medium) {
        height: 150px;
    }
    @include breakpoint(large) {
        height: 170px;
    }
    // @include breakpoint(xlarge) {
    //     height: 180px;
    // }
    .top-info {
        padding: 5px 5px 0;
        background-color: $main-color;
        height: 70px;
        @include breakpoint(small only) {
            padding: 10px 0;
            height: 120px;
            text-align: center;
        }
        .title-bar {
            @include breakpoint(small only) {
                margin-bottom: 10px;
            }
        }
        .menu {    
            @include breakpoint(small only) {
                width: 100vw;
                background-color: $main-color-dark;
                height: 430px;
                z-index: 2000;
                opacity: 0.98;
            }
            li {
                padding: 0 0 3px 0;
                margin: 6px;
                &:hover {
                    background-color: $main-color-dark; 
                    border-radius: $global-radius;
                    @include breakpoint(small only) {
                        background-color: $main-color;
                    }
                }
                @include breakpoint(small only) {
                    margin: 10px 0;
                    &:first-of-type {
                        margin-top: 80px;
                    }
                }
                @include breakpoint(medium down) {
                    &:hover,
                    &:active,
                    &:focus {
                        background-color: $main-color-dark;
                    }
                }
            }
            a {                
                padding: 10px;
                color: $white;
                font-size: 1em;
                font-weight: 600;
                @include breakpoint(small only) {
                    padding: 18px 10px;
                    font-size: 1.1em;
                }
            }
        }          
        li {
            padding-right: 15px;
            color: $white;
            font-weight: 600;
            font-size: 1.1em;
        }
        .button.hollow {
            &:hover {
              background: $white;
              color: $main-color;
              font-weight: 600;
            }
          }
        .top-social {
            .fab {
                margin-top: 10px;
                padding-right: 15px;
                color: $white;
                font-size: 2em;
                transition: all .3s ease-in;
                &:hover {
                    transform: scale(1.1);
                }
                @include breakpoint(small only) {
                    margin-top: 4px;
                }
            }
        }
    }
    svg {
        position: absolute;
        bottom: 0;
        width: 100%;
        max-width: 1300px;
        height: 70px;
        max-height: 100px;
        border: 0;
        @include breakpoint(large) {
            height: 100px;
        }
        @include breakpoint(small only) {
            height: 50px;
        }
    }
    .logo-container {
        position: absolute;
        width: 150px;
        height: 150px;
        bottom: -50px;
        left: 0;
        right: 0;
        margin: 0 auto;
        padding: 22px 20px 20px 24px;
        background-color: #fff;
        border-radius: 2000px;
        border: 1px solid $main-color;
        overflow: hidden;
        @include breakpoint(small) {
            width: 135px;
            height: 135px;
        }    
        @include breakpoint(medium) {
            bottom: -30px;
        }
        @include breakpoint(large) {
            bottom: -12px;
        }
        .logo {
            width: 160px;
        }
    }
}
  .skewed {
    height: 50px;
    @include skewY(-6deg);
    margin-top: 0;
    z-index: 100;
    .top-bar {
        margin-top: -40px;
        background-color: $white;
        border: none;
        .menu {
            background-color: $white;
            a {
                color: $main-color-dark;
                font-size: 1.2em;
                font-weight: 600;
                @include breakpoint(small down) {
                    padding: 0;
                }
            }
        }
    }
}

// ORBIT / SLIDER
main {
    margin: 0;
    padding-top: 30px;
    background-color: $white;
    .orbit {
        .orbit-previous,
        .orbit-next {
            color: $main-color;
        }
        .orbit-bullets {
            margin-top: 0;
        }
        .orbit-container {
            position: relative;
            font-family: 'Oswald', 'PT Sans', sans-serif;
            .orbit-figure {
                height: 230px;
                text-align: center;
                @include breakpoint(medium) {
                    height: 260px;
                }
                @include breakpoint(large) {
                    height: 350px;
                    text-align: right;
                }
                .orbit-slogan {
                    position: absolute;
                    left: 5%;
                    top: 25%;
                    @include breakpoint(large) {
                        left: 9%;
                    }
                    @include breakpoint(xlarge) {
                        left: 12%;
                    }
                    h3, h5 {
                        font-family: 'Oswald', 'PT Sans', sans-serif;
                    }
                    h5 {
                        color: $main-color-dark;
                    }
                    .orbit-button {
                        width: 150px;
                        padding: 15px;
                        margin-top: 20px;
                        background-color: $yellowish;
                        a {
                            color: $black;
                            font-weight: 600;
                            font-size: 1.2em;
                        }
                        &:hover,
                        &:active,
                        &:focus {
                            background-color: $main-color-dark;
                        }
                        &:hover > a,
                        &:active > a,
                        &:focus > a {
                            color: $white;
                        }
                    }
                }
                .orbit-image {
                    height: 220px;
                    width: auto;
                    margin: 30px 0 0 0;
                    @include breakpoint(small only) {
                        height: 200px;
                    }
                    @include breakpoint(medium down) {
                        margin-top: 50px;
                        padding-bottom: 30px;
                    }
                    @include breakpoint(medium) {
                        height: 250px;
                        // margin-right: 80px;
                    }
                    @include breakpoint(large) {
                        height: 260px;
                        margin-right: 60px;
                    }
                    @include breakpoint(xlarge) {
                        height: 290px;
                        margin-right: 150px;
                    }
                } 
                .pizza-cutout {
                    height: auto;
                    width: 500px;
                    margin-top: 80px;
                    @include breakpoint(small only) {
                        width: 300px;
                    }
                    @include breakpoint(medium) {
                        width: 390px;
                        margin-top: 50px;
                        padding-bottom: 30px;
                    }
                    @include breakpoint(medium) {
                        width: 450px;
                    }
                    @include breakpoint(large) {
                        width: 500px;
                    }
                    @include breakpoint(xlarge) {
                        width: 600px;
                    }
                }
            }
        }
        .orbit-slogan-mobile {
            margin-bottom: 40px;
            h3, h5 {
                font-family: 'Oswald', 'PT Sans', sans-serif;
            }
            h3 {
                font-size: 1.5em;
                    @include breakpoint(medium only) {
                        font-size: 2.2em;
                    }
            }
            h5 {
                color: $main-color-dark;
                @include breakpoint(medium only) {
                    font-size: 1.5em;
                }
            }
            .orbit-button {
                width: 150px;
                margin-top: 20px;
                margin-bottom: 30px;
                background-color: $yellowish;
                a {
                    color: $black;
                    font-size: 1.2em;
                    font-weight: 600;
                    text-transform: uppercase;
                }
            }
        }
    }

    // MENU
    .food {
        margin: 0 ;
        padding: 0 0 10px 0;
        .tabs {
            margin: 0;
            padding: 30px 0 15px;
            @include breakpoint(small only) {
                width: 90%;
                margin: 0 auto;
            }
            @media screen and (max-width: 330px) {
                width: 100%;
            }

            .tabs-title {
                width: 60px;
                height: 60px;
                margin: 0 40px 0 0;
                float: none;
                &:active,
                &:focus {
                    outline: 0;
                }
                &:last-of-type {
                    margin-right: 0;
                }
                @include breakpoint(medium) {
                    margin: 0 15px 0 0;
                }
                @include breakpoint(small down) {
                    margin: 4px 8px 0;
                }
                @media screen and (min-width: 480px) and (max-width: 590px) {
                    margin-right: 20px;
                }
                > a {
                    @include breakpoint(small) {
                        padding: 3px;
                    }
                }
                .food-icon {
                    width: 43px;
                    @include breakpoint(small down) {
                        width: 35px;
                    }
                }
            }
            .is-active > a > svg > path {
                fill: $main-color-dark;
            }
            .is-active > a > svg > g > g {
                fill: $main-color-dark;
            }
        }
        .skewed-small-light {
            height: 15px;
            background-color: lighten($main-color, 30%);
            @include skewY(-6deg);
            margin-top: 30px;
        }
        .skewed-small {
            height: 65px;
            background-color: $main-color;
            @include skewY(-6deg);
            margin-bottom: 40px;
        }
        .tabs-content {
            margin: 20px 6%;
            padding: 0;
            border-radius: $global-radius;
            @include breakpoint(medium) {
                padding: 0 20px 10px;
            }
            @include breakpoint(large) {
                margin: 40px 15% 20px;
            }
            .tabs-panel {
                margin: 0;
                padding: 0;
                h4 {
                    font-family: 'Oswald', 'PT Sans', sans-serif;
                    font-weight: 600;
                    text-transform: uppercase;
                }
                .menu-container {    
                    td {
                        padding: 4px 4px 8px;
                        @include breakpoint(small only) {
                            padding: 0 0 6px;
                        }
                    }   
                    .th-width {
                        width: 60px;
                    } 
                    @include breakpoint(medium up) {
                        .th-width {
                            width: 80px;
                        }
                    }   
                    .td-width {
                        width: 130px;
                        padding-right: $td-padding;
                    }
                    .menu-item-info {
                        margin-bottom: 20px;
                        p {
                            margin-bottom: 0;
                        }
                        .button {
                            margin-top: 15px;
                            border-color: $main-color-dark;
                            color: $main-color-dark;
                            font-weight: 600;
                            &:hover,
                            &:active,
                            &:focus {
                                background-color: $main-color;
                                border-color: $main-color;
                                color: $white;
                            }
                        }
                        .hidden-info {
                            display: none;
                            width: 100%;
                            margin-left: -15px;
                            margin-right: -15px;
                            padding: 15px;
                            border-top: $my-border;
                            border-bottom: $my-border;
                            font-style: normal;
                        }
                        .fas {
                            color: $black;
                            margin-right: 6px;
                        }
                    }
                    .food-name {
                        padding-left: $td-padding;
                        font-weight: 600;
                        font-size: 1.1em;
                        .uppercase {
                            text-transform: uppercase;
                        }
                        @include breakpoint(small only) {
                            padding-left: 0;
                            font-size: 1em;
                        }
                    }
                    .price {
                        width: 60px;
                        padding-right: $td-padding;
                    }
                    .ingredients {
                        display: inline-block;
                        padding-left: $td-padding;
                        color: $main-color-dark;
                        font-weight: 500;
                        @include breakpoint(small only) {
                            padding-left: 0;
                        }
                    }
                }
                .sosy {
                    margin-top: 40px;
                    .cena {
                        font-weight: 500;
                    }
                }
            }
        }
    }
}

// GALLERY
.gallery-container {
    height: auto;
    background-color: $white;
    .arrow {
        @include arrow;
    }
    h4 {
        @include arrow-header;
    }
    .gallery {
        margin: 40px 80px;
        overflow: hidden;
        @include breakpoint(medium down) {
            margin: 10px 15px 15px 15px;
        }
        .main-img {
            margin: 20px auto 0;
            padding: 0;
            @include breakpoint(medium down) {
                max-height: 380px;
            }
            img {
                @include breakpoint(medium down) {
                    max-height: 380px;
                }
            }
        }
        .mini-img {
            margin: 20px auto 0;
            @include breakpoint(medium up) {
                max-width: 800px;
            }
            ul {
                margin: 0 auto;
                overflow: hidden;
                @include breakpoint(medium only) {
                    margin: 5px 0 0;
                }
                @include breakpoint(small only) {
                    margin: 0 auto;
                }
                li {
                    width: 21%;
                    overflow: hidden;
                    margin: 0 0 20px auto;
                    @include breakpoint(small only) {
                        width: 43%;
                    }     
                    @include breakpoint(medium down) {
                        margin: 10px auto;
                    }       
                    a {
                        width: 100%;
                        height: 100%;
                        overflow: hidden;
                        padding: 0;
                        margin: 0;
                        @include breakpoint(small only) {
                            width: 100%;
                            height: 100%;
                        }  
                        img {
                            width: 100%;
                            height: auto;
                        }            
                    }     
                }
            }
        }
    }      
}

// MAP
.map {
    .arrow {
        @include arrow;
    }
    h4 {
        @include arrow-header;
    }
    .google-map {
    width: 100%;
    height: 400px;
    background-color: $white; 
    padding: 0;
    margin: 0; 
    border-top: $my-border;   
    border-bottom: $my-border;   
    }
}

// SEPARATOR WITH INFO
.separator {
    width: 100%;
    padding: 80px 0;
    background-image: url('../img/pattern.jpg');
    background-color: $main-color;
    text-align: center;
    @include breakpoint(small only) {
        padding: 60px 40px 50px;
    }
    h4 {
        color: $white;
        font-weight: 600;
        text-transform: uppercase;
        span {
            text-decoration: underline;
        }
    }
}

// FOOTER
footer {
    overflow: hidden;
    margin: 0;
    .footer-info-container {
        padding: 30px 0;
        margin: 0 auto;
        background-color: $white;
        font-family: 'Oswald', 'PT Sans', sans-serif;
        font-size: 1.2em;
        color: $black;
        @include breakpoint(small only) {
            padding: 0 0 25px;
        }
        @include breakpoint(large) {
            padding: 40px 0;
        }
        .footer-info {
            margin: 0;
            padding: 0;
            background-color: $white;
            @include breakpoint(small only) {
                margin: 30px 0 20px;
                padding: 0;
            }
            .footer-logo {
                width: 100px;
                margin-bottom: 20px;
            }
            p:last-of-type {
                margin: 0;
            }
        }
        .time {
            color: $main-color-dark;
            padding: 15px 0;
            border-left: $my-border;
            border-right: $my-border;
            @include breakpoint(small only) {
                padding: 10px 0;
                border: none;
            }
            .days {
                margin: 0;
            }
            .clock {
                width: 40px;
                height: auto;
                margin-right: 15px;
            }
        }
        .footer-slogan {
            h5 {
                color: $white;
                font-size: 1.3em;
            }
            .button {
                padding: 20px 30px;
                background-color: $yellowish;
                margin: 0;
                @include breakpoint(small only) {
                    margin-top: 20px;
                }
                @include breakpoint(medium only) {
                    padding: 20px 12px;
                }
                &:hover {
                    background-color: lighten($yellowish, 5%);
                    @include skew(-15deg);
                    -webkit-transition: .5s ease-in-out;
                    -o-transition: .5s ease-in-out;
                        transition: .5s ease-in-out;
                    > a {
                        @include skew(15deg);
                        -webkit-transition: .5s ease-in-out;
                        -o-transition: .5s ease-in-out;
                            transition: .5s ease-in-out;
                    }
                }
                a {
                    display: inline-block;
                    color: $black;
                    font-size: 1.3em;
                    @include breakpoint(medium) {
                        font-size: 1.1em;
                    }
                    .fas {
                        margin-right: 25px;
                        @include breakpoint(medium) {
                            margin-right: 15px;                        
                        }    
                    }
                }
            }
        }    
    }
    .designer {
        background-color: $main-color;
        color: $light-gray;
        font-size: 0.8em;
        padding: 8px 0;
    }
}


    
  
  